@model List<Link>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (Model.Count > 0) {
	<table class="table table-bordered border-dark">
		<thead class="text-center">
			<tr class="table-dark">
				<th>#</th>
				<th>Link</th>
				<th>Shortened Link</th>
				<th>Clicks Count</th>
			</tr>
		</thead>
		<tbody class="text-center">
			@{
				int i = 0;
			}
			@foreach (var item in Model) {
					<tr>
						<td>@(++i)</td>
						<td>@item.FullUrl</td>
						<td>
							<a href="@item.Href(Context)" target="blank" class="btn btn-warning">
							@item.Href(Context)
							</a>
						</td>
						<td>@item.Clicks</td>
					</tr>
			}
		</tbody>

		<tfoot class="text-center">
			<tr class="table-dark">
				<td>Link Number</td>
				<td>Full Url</td>
				<td>The Shortened link provided by the service</td>
				<td>The Amount of people who opened the shortened link</td>
			</tr>
		</tfoot>



	</table>
}
else {
	<h1 class="text-center">Shorten some links to see statistics about then</h1>
}


